PORT=3001
APP_ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
APP_DATA_DIR=./server-data
SMTP_PREFILL_ENABLED=false
SMTP_PREFILL_HOST=smtp.votre-domaine.com
SMTP_PREFILL_PORT=587
SMTP_PREFILL_SECURE=false
SMTP_PREFILL_USERNAME=contact@votre-domaine.com
SMTP_PREFILL_PASSWORD=change-me
SMTP_PREFILL_FROM_EMAIL=contact@votre-domaine.com
SMTP_PREFILL_RECIPIENTS=admin@votre-domaine.com,assistant@votre-domaine.com
